openapi: 3.0.0
info:
  title: Internshala Backend Assignment API
  version: 1.0.0

servers:
  - url: http://localhost:5000/api/v1

paths:

  /auth/register:
    post:
      summary: Register user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses:
        201:
          description: User registered

  /auth/login:
    post:
      summary: Login user
      responses:
        200:
          description: Login success

  /tasks:
    get:
      summary: Get my tasks
      security:
        - bearerAuth: []
      responses:
        200:
          description: Tasks list

    post:
      summary: Create task
      security:
        - bearerAuth: []
      responses:
        201:
          description: Task created

  /tasks/{id}:
    put:
      summary: Update task
      security:
        - bearerAuth: []
      responses:
        200:
          description: Updated

    delete:
      summary: Delete task
      security:
        - bearerAuth: []
      responses:
        200:
          description: Deleted

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
